extends layout

block content
  div(class="container")
    section       
      if error
        div(id="error")= error
          i(class="fa fa-close", id="errorBtn")
    section
      form(class="loginDiv" action="/", method="POST")
        div(class="avatar")
          i(class="fa fa-user")
        div(class="inputFields")
          input(type="email", id='loginInput' name="login")
          input(type="password", id='passwordInput' name="password")
        div(class="btnHolder")
          button(id='loginBtn' disabled type='submit') login
      div
        button(id='forgetLogin') forgot my account        
    section  
  script(src='../javascripts/main.js')