extends layout

block content
  div(class="container")
    section 
    section
      form(class="loginDiv" action="/home", method="POST")
        div(class="avatar")
          i(class="fa fa-user")
        div(class="inputFields")
          input(type="text", id='loginInput' name="login")
          input(type="password", id='passwordInput' name="password")
        div(class="btnHolder")
          button(id='loginBtn' disabled type='submit') login
          //button(id='signUpBtn' type="button" name="signUpButton") sign up
    section  
  script(src="../javascripts/main.js");