extends layout

block content
  div(class="container")
    section 
    section
      form(class="loginDiv" action="/home", method="POST")
        div(class="avatar")
          i(class="fa fa-user")
        div(class="inputFields")
          input(type="email", id='loginInput' name="login")
          input(type="password", id='passwordInput' name="password")
        div(class="btnHolder")
          button(id='loginBtn' disabled type='submit') login
    section  
  script(src='../javascripts/main.js')