:root {
  --firstColor: #F652A0;
  --secondColor: #36EEE0;
  --thirdColor: #4C5270;
  --fourthColor: #BCECE0;
  --fithColor: #F51720;
  --sixthColor: #059DC0;
  --seventhColor: #EEEFEF;

}

* {
  margin: 0;
  padding: 0;
  font: 1em 'Poppins', "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--seventhColor);
}

.container section {
  flex: 1;
}

.container> :nth-child(2) {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.container :first-child {
  display: flex;
  justify-content: center;
}

.loginDiv {
  max-width: 550px;
  width: 60%;
  margin: auto;
  height: 100%;
  background-color: var(--thirdColor);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.75);
}

.avatar {
  flex: 2;
}

.inputFields {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputFields input {

  width: 60%;
  border-radius: 4px;
  margin-top: 5px;
  border-radius: 10px;
}

.btnHolder {
  flex: 1.5;
  display: flex;
  justify-content: center;
}

#loginBtn {
  width: 40%;
  height: 30px;
  background-color: var(--firstColor);
  border: none;
  color: white;
  border-radius: 4px;
  opacity: 0.7;
  transition: color 0.5s;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar i {
  font-size: 15em;
  color: white;
}

#error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 270px;
  height: 40px;
  background-color: var(--fithColor);
  color: white;
  margin-top: -2em;
  opacity: 0.7;
  border-radius: 4px;
}

#error i {
  cursor: pointer;
}

#error:hover {
  opacity: 1;
}

.inputFields input:focus {
  border-color: var(--firstColor);
  outline: 5px solid transparent;
}

#forgetLogin {
  align-self: center;
  margin-top: 1em;
  width: 180px;
  height: 30px;
  background-color: var(--seventhColor);
  border: none;
  color: black;
  border-radius: 4px;
  border: 2px solid var(--thirdColor);
  transition: color 0.5s;
  text-align: center;
  text-decoration: none;
}

#forgetLogin:hover {
  background-color: black;
  color: var(--seventhColor);

}

/*
@media screen and (max-width: 550px) {
  
  .loginDiv {
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
  
}
*/
@media screen and (max-width:680px) {

  .loginDiv {
    max-width: 80%;
    width: 80%;
  }
}